h1, h2, h3, h4, h5, h6 {
	clear: right;
    font-weight: 900;
    font-family: $font__heading;
    @include color($color__heading-main, $color__heading-second);
    -ms-word-break: break-word;
    word-break: break-word;
}