// Rem output with px fallback
@mixin font-size($sizeValue: 1.6) {
	font-size: ($sizeValue * 10) + px;
	font-size: $sizeValue + rem;
}

// Center block
@mixin center-block {
	display: block;
	margin: 0 auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

// Custom Mixins
@mixin color($main: $color__text-main , $second: $color__text-second) {
    color: $main;
    color: $second;
}

@mixin background($main: $color__bg-header-main, $second: $color__bg-header-second) {
    background: $main;
    background: $second;
}

@mixin max-width($sizeValue) {
    max-width: ($sizeValue * 10) + px;
    max-width: $sizeValue + rem;
}

@mixin add-icon($margin-left: 2.5em, $font-size:14px, $fa:"\f036") {
    margin: 0 0 0 $margin-left;

    &:before {
        display: block;
        float: left;
        padding-top: 2px;
        margin-left: -$margin-left;
        font-family: 'fontawesome';
        font-size: $font-size;

        content: $fa;
    }
}
