// Rem output with px fallback
@mixin font-size($sizeValue: 1.6) {
	font-size: ($sizeValue * 10) + px;
	font-size: $sizeValue + rem;
}

// Center block
@mixin center-block {
	display: block;
	margin: 0 auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

/* ==================================================
   ! Custom Styles
================================================== */
// Color
@mixin color($color-1: $color__text-main, $color-2: $color__text-second) {
    color: $color-1;
    color: $color-2;
}

// Background color
@mixin bg($color-1: $color__bg-main, $color-2: $color__bg-second) {
    background: $color-1;
    background: $color-2;
}

// Width
@mixin max-width($sizeValue: $size__content-width) {
    max-width: $sizeValue + px;
    max-width: $sizeValue + rem;
}