/* Main BG */
$color__background-body: #fff;
$color__background-screen: #f1f1f1;

/* Main Text */
$color__text-main: #3B3C3C;
$color__text-second: HSLA(180, 1%, 23%, 1);
$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__text-header-main: #000;
$color__text-header-second: HSLA(0, 0%, 0%, 1);

/* Main Links */
$color__link: HSLA(185, 100%, 30%, 1);
$color__link-visited: #53452C;
$color__link-hover: #B12618;

/* Elements */
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

/* Border */
$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

/* Header */
$color__bg-header-main: #41A5E2;
$color__bg-header-second: HSLA(203, 74%, 57%, 1);

/* Footer */
$color__footer-main: #fff;
$color__footer-second: HSLA(0, 0%, 100%, 1);
$color__bg-footer-main: #313131;
$color__bg-footer-second: HSLA(0, 0%, 19%, 1);

/* Widget */
$color__widget-main: #000;
$color__widget-second: HSLA(60, 100%, 1%, 1);

/* Image Caption */
$color__caption-bg: $color__link;
$color__caption-text: HSLA(0, 0%, 92%, 1);
$color__caption-link: HSLA(5, 76%, 50%, 1);
$color__caption-link-hover: $color__caption-text;