
/*  ! Theme: Index and Archive Pages
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* Read More Link */
.continue-reading {
    margin: 0 4rem;
    font-weight: 900;
    font-size: 18px;
    font-size: 1.8rem;
}

.continue-reading i { margin-left: .5em; }

/* Featured Image */
.small-index-thumbnail {
    margin-top: -1em;
    margin-bottom: 1em;
    text-align: center;

}


