/*  ! Layout: Right Sidebar
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.site-main {
    @include bg;
}

.site-content .widget-area {
    // float: right;
    // overflow: hidden;
    // width: $size__site-sidebar;
    width: $size__sidebar-width;
    float: right;
    padding: 4rem;
    @include bg($color__bg-widget-main, $color__bg-widget-second);
}

.entry-header,
.entry-content,
.entry-meta,
.entry-footer,
.tag-links,
.post-navigation,
.comments-area,
.paging-navigation {
    position: relative;
    @include max-width;
    padding: 0 4rem;
    margin: 0 auto;
}

.site-footer {
    clear: both;
    width: $size__site-main;
}

@media only screen and (min-width: 1160px ) {
    .content-area {
        float: left;
        margin-left: -$size__sidebar-width;
        padding-left: $size__sidebar-width;
        width: $size__site-main;
    }

    .entry-header,
    .entry-content,
    .entry-meta,
    .entry-footer,
    .tag-links,
    .post-navigation,
    .comments-area,
    .paging-navigation {
        margin-right: 0;
    }
}

@media (max-width: 1159px) {
    .site-content .widget-area {
        // float: right;
        // overflow: hidden;
        // width: $size__site-sidebar;
        width: auto;
        max-width: 780px;
        float: none;
        margin: 1em auto 0;
    }
}

@media (max-width: 1159px) and (min-width: 768px) {}

@media(max-width: 767px) {}