/* ==================================================
   ! Theme Styles
================================================== */

/*  ! Theme: Layout - Right Sidebar
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.site-main {
    background: #B2B2B2;
}

.site-content .widget-area {
    // float: right;
    // overflow: hidden;
    // width: $size__site-sidebar;
    width: $size__sidebar-width;
    float: right;
    padding: 4rem;
    background: #fff;
}

.entry-header,
.entry-content,
.entry-meta,
.entry-footer,
.tag-links,
.post-navigation,
.comments-area,
.paging-navigation {
    position: relative;
    @include max-width($size__content-width);
    padding: 0 4rem;
    margin: 0 auto;
}

.site-footer {
    clear: both;
    width: $size__site-main;
}

@media screen and (min-width: 1540px ) {
    .content-area {
        float: left;
        width: $size__site-main;
        margin-right: -$size__sidebar-width;
    }
}

@media screen and (min-width: 1160px) and (max-width: 1539px) {
    .content-area {
        width: $size__site-main;
        float: left;
        margin-left: -$size__sidebar-width;
        padding-left: $size__sidebar-width;
    }

    .entry-header,
    .entry-content,
    .entry-meta,
    .entry-footer,
    .tag-links,
    .post-navigation,
    .comments-area,
    .paging-navigation {
        margin-right: 0;
    }

}

@media screen and (max-width: 1159px) {
    .site-content .widget-area {
        width: auto;
        @include max-width($size__content-width);
        float: none;
        margin: 1em auto 0;
    }
}
